
 
 
 form {

      .input-field {
        margin-bottom: 5px;
        label {
          display: block;
          margin-bottom: 12px;
          font-size: 18px;
          font-weight: 400;
          color:   #16968C ;

          span {
            color: #fe4035;
          }
        }
        .field-icon {
          background-color: #f6f6f6;
          display: flex;
          align-items: center;
          padding: 0 15px;
          border-radius: 8px;
          height: 48px;
          img {
            margin-left: 16px;
          }
          input,
          select{
            background-color: transparent;
            width: 100%;
            border: none;
            outline: none;
          }
          
        }
        small {
          color: #fe4035;
        }
      }

      .buttons-content {
        display: flex;
        justify-content: left;
        align-items: center;

        button[disabled] {
          cursor: not-allowed;
        }
      }
      textarea:focus{
        border: none;
        outline: none;
      }

    
    }

    ::ng-deep .p-multiselect-token {
  margin-right: 6px; 
  background-color: #f6f6f6;
  border: 1px solid  gray;
  border-radius: 20px;
  padding-inline: 5px;
  color: gray
}


::ng-deep .p-multiselect-panel .p-highlight {
  color:  #16968C!important;
    background-color: #e9f1f1;

}
::ng-deep .p-multiselect-panel .p-highlight .p-checkbox-box {
  border-color: #16968C !important;
  background-color: #16968C !important;
}

::ng-deep .p-multiselect-panel .p-highlight .p-checkbox-icon {
  color: white !important;
}