.notifications {
  background-color: #ffffff;
  margin: 24px;
  padding: 24px;
  border-radius: 8px;
}
// ---------------------------------
// bread-crumb
// ---------------------------------
.bread-crumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .right {
    .title {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 22px;
      img {
        width: 24px;
        height: 29px;
      }
      h3 {
        color: #0c588b;
        font-size: 21px;
        font-weight: 600;
      }
      span {
        font-size: 12px;
        font-weight: 700;
        padding: 5px 7px;
        border-radius: 8px;
      }
    }
    .links {
      a {
        color: #797f8f;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        &:last-child {
          color: #0c588bcf;
        }
      }
      i {
        color: #797f8f;
        margin: 0 15px;
      }
    }
  }
  .left {
    button {
      height: 50px;
      padding: 0px 22px;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 500;
    }
    .showall-button {
      background-color: transparent;
      color: #0c588bcf;
      border: 1px solid #0c588bcf;
    }
  }
}

@media (max-width: 1220px) {
  .bread-crumb {
    flex-direction: column;
    gap: 24px;
    align-items: start;
  }
}

// ==============================
// NOTIFICATIONS
// ==============================

.notifi-list {
  .notifi-card {
    padding: 10px 18px;
    border-bottom: 0.5px solid #7070702e;

    .card-box {
      cursor: pointer;
      background-color: #eaf7ff;
      padding: 13px 15px;
      border-radius: 8px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      &.read {
        background-color: transparent;
        border: 1px solid #7070702e;
      }
      h4 {
        color: #231f20;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }
      span {
        color: #797f8f;
        font-size: 14px;
        font-weight: 400;
        i {
          font-size: 8px;
          color: #0c588b;
          margin-left: 8px;
        }
      }
    }
  }
  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 18px;
    gap: 14px;
    p {
      color: #707070;
      font-size: 16px;
      font-weight: 400;
      line-height: 32px;
      text-align: center;
    }
  }
}
