:host ::ng-deep .p-menuitem-separator {
  transform: rotate(-0.5turn);
  color: #797f8f;
}
:host ::ng-deep .p-placeholder {
  @apply text-gray-400;
}
.header-title {
  color: #125d89;
}
:host ::ng-deep .p-menuitem-text {
  color: #797f8f;
  padding: 10px;
}
:host ::ng-deep .p-inputtext {
  @apply bg-filterBtnBg rounded-r-xl p-3;
  // color: #797f8f;
}

:host ::ng-deep .p-component {
  width: 100%;
}
:host ::ng-deep .p-element.p-dropdown-item {
  @apply px-4 py-4;
}
:host ::ng-deep .p-dropdown-items {
  width: 100%;
  background-color: white;
}
:host ::ng-deep .p-dropdown-filter-container {
  .p-icon-wrapper{
    position: relative;
    left: 3rem;
    bottom: 0.75rem;
  }
}
::ng-deep .p-dropdown-clear-icon {
  position: absolute;
  right: 92%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.buttonSection {
  button {
    padding: 10px 30px;
    border-radius: 10px;
  }

  .saveBtn {
    background: #125d89;
    color: #ffffff;
  }
  .cancelBtn {
    border: 1px solid #125d89;
    color: #125d89;
  }
}
.form-container {
  border: 0.5px solid #7070702e;
  // border-radius: 8px;
  // padding: 15px;
  // width: 100%;
}

.addForm {
  @apply grid
    grid-cols-4
     gap-8;
  .narrowCols {
    @apply 2xl:col-span-2 xl:col-span-2 md:col-span-4 col-span-4;
  }
}

small {
  color: #fe4035;
}
span {
  color: #fe4035;
}
.field-icon {
  background: #f6f6f6;
}
// .icon {
//   background: url(../../../../../../../assets/icons/name-icon.svg) no-repeat
//     right 10px center;
//   background-color: #f6f6f6;
//   padding-right: 35px;
// }





