.profile {
  background-color: #ffffff;
  margin: 24px;
  padding: 24px;
  border-radius: 8px;
}

// ---------------------------------
// bread-crumb
// ---------------------------------
.bread-crumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .right {
    .title {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 22px;
      h3 {
        color: #0c588b;
        font-size: 21px;
        font-weight: 600;
      }
      span {
        font-size: 12px;
        font-weight: 700;
        padding: 5px 7px;
        border-radius: 8px;
      }
      .statusColor_1 {
        color: #ff9500;
        background-color: #ffe4bf;
      }
      .statusColor_2 {
        color: #1aaa55;
        background-color: #c5e9d4;
      }
      .statusColor_3 {
        color: #24c0db;
        background-color: #c8eff6;
      }
      .statusColor_4 {
        color: #bc79f1;
        background-color: #e9d7f8;
      }
      .statusColor_5 {
        color: #fd612f;
        background-color: #fed7cb;
      }
    }
    .links {
      a {
        color: #797f8f;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        &:last-child {
          color: #0c588bcf;
        }
      }
      i {
        color: #797f8f;
        margin: 0 15px;
      }
    }
  }
  .left {
    button {
      height: 50px;
      padding: 0px 22px;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 500;
    }
    .customize-button {
      background-color: #0c588bcf;
      color: #ffffff;
      margin-left: 16px;
    }
    .reject-button {
      background-color: transparent;
      color: #fe4035;
      border: 1px solid #fe4035;
    }
    .save-button {
      background-color: #0c588bcf;
      color: #ffffff;
      margin-left: 16px;
    }
    .cancle-button {
      background-color: transparent;
      color: #0c588bcf;
      border: 1px solid #0c588bcf;
    }
  }
}

@media (max-width: 1220px) {
  .bread-crumb {
    flex-direction: column;
    gap: 24px;
    align-items: start;
  }
}

.user-details {
  border: 0.5px solid #7070702e;
  border-radius: 8px;
  padding: 24px;
  // ------------------------
  // TITLE
  // ------------------------
  .title {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 11px 20px;
    background-color: #eaf7ff;
    border-radius: 8px;
    margin-bottom: 24px;
    img {
      margin-left: 15px;
    }
    h3 {
      color: #0c588bcf;
      font-size: 16px;
      font-weight: 500;
    }
  }

  // ------------------------
  // USER INFO
  // ------------------------
  .user-info {
    background: linear-gradient(
      150.57deg,
      rgba(12, 88, 139, 0.81) 15.91%,
      rgba(21, 90, 138, 0.93) 48.08%,
      rgba(38, 94, 135, 0.92) 88.94%
    );

    display: flex;
    align-items: center;
    padding: 27px 40px;
    border-radius: 8px;
    border: 0.5px solid #7070702e;
    .userImg {
      width: 124px;
      height: 124px;
      margin-left: 32px;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      label {
        position: absolute;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        position: absolute;
        top: 80px;
        right: 0;
        cursor: pointer;
        img {
          width: 13px;
          height: 13px;
        }
      }
      input {
        display: none;
      }
    }
    .userText {
      h2 {
        color: #fff;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 2px;
      }
      h3 {
        color: #fff;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 13px;
      }
      span {
        background-color: #ffe4bf;
        color: #ff9500;
        padding: 5px 16px;
        border-radius: 8px;
        font-size: 12px;
        font-weight: 700;
      }
    }
  }
  // ------------------------
  // USER FORM
  // ------------------------
  form {
    margin-top: 24px;
    .row-inputs {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
      gap: 16px;
      &:not(:last-child) {
        margin-bottom: 24px;
      }
      .input-field {
        label {
          color: #0c588b;
          font-size: 18px;
          font-weight: 400;
          display: block;
          margin-bottom: 12px;
        }
        .input-icon {
          background-color: #f6f6f6;
          display: flex;
          align-items: center;
          gap: 16px;
          height: 48px;
          border-radius: 8px;
          padding: 0px 15px;
          img {
          }
          input {
            background-color: transparent;
            width: 100%;
            outline: none;
          }
          .password-icon {
            width: 100%;
            position: relative;
            .show-password {
              position: absolute;
              top: 3px;
              left: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .user-details {
    // ------------------------
    // USER INFO
    // ------------------------
    .user-info {
      flex-direction: column;
      gap: 24px;
    }
    form {
      .row-inputs {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
      }
    }
  }
}
