.form-content {
  margin-top: 24px;
  border: 0.5px solid #7070702e;
  border-radius: 8px;
  padding: 24px;

  .title {
    background-color: #eaf7ff;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px 20px;
    border-radius: 8px;
    margin-bottom: 24px;
    img {
      margin-left: 15px;
    }
    p {
      color: #0c588b;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .tow-inputs-field {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(496px, 1fr));
    gap: 16px;
  }
  .input-field {
    margin-bottom: 16px;
    width: 100%;
    label {
      color: #125d89;
      font-size: 18px;
      font-weight: 400;
      span {
        color: #fe4035;
      }
    }
    .input-icon {
      margin-top: 12px;
      display: flex;
      align-items: center;
      background-color: #f6f6f6;
      height: 48px;
      padding: 12px 15px;
      border-radius: 8px;
      img {
        margin-left: 15px;
      }
      input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
      }
    }
  }
  .input-field-textarea {
    width: 100%;
    label {
      color: #0c588b;
      font-size: 18px;
      font-weight: 400;
      span {
        color: #fe4035;
      }
    }
    .input-icon {
      display: flex;
      align-items: start;
      background-color: #f6f6f6;
      height: auto;
      padding: 12px 15px;
      border-radius: 8px;
      img {
        margin-left: 15px;
      }
      textarea {
        background-color: transparent;
        width: 100%;
        height: 144px;
        resize: none;
        border: none;
        outline: none;
      }
    }
  }
}

// .form-content {
//   @apply grid
//     grid-cols-4
//      gap-8;
//   .narrowCols {
//     @apply 2xl:col-span-2 xl:col-span-2 md:col-span-4 col-span-4;
//   }
// }
