.request-details-content {
  border: 0.5px solid #7070702e;
  padding: 24px;
  margin-top: 24px;
  border-radius: 8px;

  .title {
    background-color: #eaf7ff;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 8px;
    width: fit-content;
    margin-bottom: 24px;
    img {
      width: 15px;
      height: 15px;
      margin-left: 15px;
    }
    h3 {
      font-size: 16px;
      font-weight: 500;
      color: #0c588bcf;
    }
  }
  .box {
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    padding: 12px 18px;
    border-radius: 8px;
    margin-bottom: 24px;
    img {
      width: 13px;
      height: 13px;
      margin-left: 16px;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      color: #0c588bcf;
      span {
        color: #231f20;
      }
      bdi {
        color: #231f20;
      }
    }
  }

  form {
    .narrowCols {
      label {
        display: block;
        color: #0c588bcf;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 12px;
        span {
          color: #fe4035;
        }
      }
    }
    .textarea-content {
      margin-top: 24px;

      label {
        display: block;
        color: #0c588bcf;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 12px;
      }
      .textarea {
        display: flex;
        align-items: start;
        padding: 15px;
        border: 0.5px solid #f6f6f6;
        border-radius: 8px;
        background-color: #f6f6f6;
        textarea {
          background-color: transparent;
          padding-right: 15px;
          outline: none;
          width: 100%;
          height: 144px;
          resize: none;
        }
      }
    }
  }
}

// ::ng-deep p-dropdown {
//   width: 50%;
// }

.bread-crumb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .right {
    .title {
      display: flex;
      align-items: center;
      gap: 15px;
      margin-bottom: 22px;
      h3 {
        color: #0c588b;
        font-size: 21px;
        font-weight: 600;
      }
      span {
        font-size: 12px;
        font-weight: 700;
        padding: 5px 7px;
        border-radius: 8px;
      }
      .statusColor_1 {
        color: #ff9500;
        background-color: #ffe4bf;
      }
      .statusColor_2 {
        color: #1aaa55;
        background-color: #c5e9d4;
      }
      .statusColor_3 {
        color: #24c0db;
        background-color: #c8eff6;
      }
      .statusColor_4 {
        color: #bc79f1;
        background-color: #e9d7f8;
      }
      .statusColor_5 {
        color: #fd612f;
        background-color: #fed7cb;
      }
    }
    .links {
      a {
        color: #797f8f;
        font-size: 17px;
        font-weight: 400;
        &:last-child {
          color: #0c588bcf;
        }
      }
      i {
        color: #797f8f;
        margin: 0 15px;
      }
    }
  }
  .left {
    button {
      height: 50px;
      padding: 0px 22px;
      border-radius: 8px;
      font-size: 18px;
      font-weight: 500;
    }
    .customize-button {
      background-color: #0c588bcf;
      color: #ffffff;
      margin-left: 16px;
    }
    .reject-button {
      background-color: transparent;
      color: #fe4035;
      border: 1px solid #fe4035;
    }
    .save-button {
      background-color: #0c588bcf;
      color: #ffffff;
      margin-left: 16px;
    }
    .cancle-button {
      background-color: transparent;
      color: #0c588bcf;
      border: 1px solid #0c588bcf;
    }
  }
}

@media (max-width: 1220px) {
  .bread-crumb {
    flex-direction: column;
    gap: 24px;
    align-items: start;
  }
}

// ==================================================
// ==================================================
.overlay {
  background: linear-gradient(
    150.57deg,
    rgba(12, 88, 139, 0.162) 15.91%,
    rgba(21, 90, 138, 0.186) 48.08%,
    rgba(38, 94, 135, 0.184) 88.94%
  );

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  z-index: 10001;
  font-family: "IBM Plex Sans Arabic", sans-serif;

  .sweet-alert {
    background-color: #ffffff;
    width: 435px;
    padding: 34px 44px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 1px 0px 6px 12px #00000009;

    .sweet-img {
      width: 82px;
      margin: 0 auto;
      margin-bottom: 24px;
    }
    .sweet-text {
      font-size: 22px;
      font-weight: 400;
      color: #797f8f;
      margin-bottom: 24px;
    }
    .sweet-buttons {
      button {
        padding: 14px 35px;
        border-radius: 8px;
        color: #ffffff;
        font-weight: 800;
        font-size: 18px;
      }
      .confirm {
        background-color: #fe4035;
        border: 1px solid #fe4035;
      }

      .confirm-cancle {
        background-color: transparent;
        border: 1px solid #fe4035;
        color: #fe4035;
        margin-right: 16px;
      }
    }
  }
}

.radio-button {
  display: flex;
  align-items: center;
  p {
    margin-left: 36px;
    font-size: 18px;
    font-weight: 400;
    color: #231f20;
  }
  input {
    appearance: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    border: 2px solid #0c588bcf;
    transition: 0.2s all linear;
    margin-right: 5px;
    position: relative;
    &:checked {
      border: 8px solid #0c588bcf;
      outline: unset !important; /* I added this one for Edge (chromium) support */
    }
  }
  label {
    color: #0c588b;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
    &:first-of-type {
      margin-left: 54px;
    }
  }
}

::ng-deep .p-ripple.p-element.p-button.p-component.p-fileupload-choose {
  width: 100%;
}
:host ::ng-deep .p-dropdown-items {
  width: 100%;
  background-color: white;
}
:host ::ng-deep .p-element.p-dropdown-item {
  @apply px-4 py-4;
}

.form-content {
  margin-top: 24px;
  .title {
    all: unset;
    font-size: 18px;
    font-weight: 400;
    color: #0c588bcf;
  }
}

// ****************************************************
// ****************************************************
.fileBox {
  width: 100%;
  background: #f5f5f5;
  border-radius: 10px;
  margin-top: 8px;
}
.fileContainer {
  margin-top: 15px;

  label {
    @apply mb-2;
  }
  .percentageDiv {
    @apply w-full flex flex-row justify-end items-center;
    .percentage {
      @apply mx-2;
      color: #707070;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .fileDetails {
    @apply w-full flex flex-row justify-start items-center;
    a {
      @apply block mx-2;
      color: #001219;
      font-size: 14px;
      font-weight: 400;
    }
    .fa-file {
      @apply text-3xl text-bgactive;
    }
    .file-picked {
      @apply text-3xl;
      color: #001219;
    }
    span {
      color: #707070;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
label {
  color: #125d89;
  font-size: 18px;
  font-weight: 400;
}
.progressBar {
  background-color: rgba(18, 93, 137, 1);
}
input {
  background: #f5f5f5;
}
:host ::ng-deep .p-fileupload-choose {
  @apply bg-gradient p-4;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
