<!-- ============================= -->
<!-- BREAD CRUMB -->
<!-- ============================= -->
<div class="bread-crumb">
  <div class="right">
    <div class="title">
      <img src="./assets/icons/maintenanceRequestsActive.svg" />
      <h3>تفاصيل الطلب</h3>
      <span [class]="'statusColor_' + visitRequestStatusId">{{
        visitRequestStatusId == 1
          ? "لم يتم التخصيص"
          : visitRequestStatusId == 2
          ? "تم التخصيص"
          : visitRequestStatusId == 3
          ? "غير مكتمل"
          : visitRequestStatusId == 4
          ? "مكتملة"
          : visitRequestStatusId == 5
          ? "تم الرفض"
          : ""
      }}</span>
    </div>
    <div class="links">
      <a routerLink="/">الرئيسية</a>
      <i class="fa-solid fa-angle-left"></i>
      <a routerLink="/projects">إدارة المشاريع</a>
      <i class="fa-solid fa-angle-left"></i>
      <a routerLink="/projects/visit-requests">طلبات الزيارة </a>
      <i class="fa-solid fa-angle-left"></i>
      <a routerLink="/projects/visit-requests/incoming-requests">
        الطلبات المخصصة
      </a>
      <i class="fa-solid fa-angle-left"></i>
      <a routerLink="/projects/visit-requests/incoming-requests/request-details"
        >تفاصيل الطلب
      </a>
    </div>
  </div>
  <div class="left" *ngIf="visitRequestStatusId == 2">
    <div>
      <button
        class="save-button"
        type="button"
        (click)="changeStatusOfVisitRequest()"
      >
        حفظ
      </button>
      <button    class="cancle-button" type="button" (click)="cancleRequest()"  >
        الغاء
      </button>
    </div>
  </div>
</div>

<!-- ================================== -->
<!-- Customize order -->
<!-- ================================== -->
<div class="request-details-content" *ngIf="visitRequestStatusId == 2">
  <div class="title">
    <img src="./assets/icons/locationDetailsActive.svg" />
    <h3>حالة الزيارة</h3>
  </div>
  <form [formGroup]="complateRequestForm">
    <div class="radio-button">
      <p>حالة الزيارة</p>
       
      <input
        formControlName="statusId"
        type="radio"
        id="complete"
        name="statusId"
        value="4"
      />
        <label for="complete">مكتملة</label><br />
       
      <input
        formControlName="statusId"
        type="radio"
        id="uncomplete"
        name="statusId"
        value="3"
      />
        <label for="uncomplete">غير مكتملة</label><br />
       
    </div>

    <div class="textarea-content">
      <label for="">ملاحظات</label>
      <div class="textarea">
        <img src="./assets/icons/notes-icon.svg" />
        <textarea
          formControlName="descriptionUserAssignOrRefuse"
          placeholder="أدخل ملاحظاتك إن وُجدت"
        ></textarea>
      </div>
    </div>

    <!-- **************************************** -->
    <!-- **************************************** -->
    <div class="fileContainer">
      <label>مرفقات</label>
      <div class="flex fileBox justify-between">
        <input
          class="mt-2 px-3 border-0"
          type=""
          placeholder="ارفع مرفقات الطلب إن وُجدت"
          readonly
        />
        <!-- <span class="mt-2 py-3 px-3">ارفع المرفقات إن وجدت </span> -->
        <p-fileUpload
          #fileUpload2
          mode="basic"
          [multiple]="true"
          [chooseIcon]="'fa-solid fa-upload ml-3'"
          name="demo[]"
          accept="image/*, .pdf"
          (onSelect)="SelectedFile($event, fileUpload2, 1)"
          [auto]="true"
          chooseLabel="رفع "
        ></p-fileUpload>
      </div>
      <div class="fileContainer flex flex-col col-span-3">
        <div *ngFor="let file of uploadedFiles; let i = index">
          <div
            class="flex justify-between w-full col-span-3 fileUploaded my-5"
            *ngIf="file.attachTypeId == 1"
          >
            <div class="fileDetails py-1 flex justify-between items-center">
              <div class="fileDetails flex items-center">
                <span (click)="downloadFile(file)">
                  <i
                    class="fa-solid fa-file"
                    [ngClass]="file.isPicked ? 'file-picked' : ''"
                  ></i>
                </span>
                <a class="" (click)="downloadFile(file)">
                  {{ file?.originalName }}
                </a>
                <span>
                  {{ file.size ? file.size : "" }}
                </span>
              </div>
              <div>
                <button
                  class="removeButton"
                  (click)="remove(file.filePath, i, 1, file)"
                >
                  <i class="fa-solid fa-xmark hover:cursor-pointer"></i>
                </button>
              </div>
            </div>
            <div class="detailsFile1" *ngIf="file.progress != 100">
              <p-progressBar
                [value]="file.progress"
                [showValue]="true"
                [color]="'#125D89'"
              ></p-progressBar>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- **************************************** -->
    <!-- **************************************** -->
  </form>
</div>
<!-- =================================================== -->
<!-- Request Details -->
<!-- =================================================== -->
<div class="request-details-content">
  <div class="title">
    <img src="./assets/icons/maintenanceRequestsActive.svg" />
    <h3>تفاصيل الطلب</h3>
  </div>

  <div class="box">
    <img src="./assets/icons/pen-ruler-icon.svg" />
    <p>
      المشروع: <span> {{ requestData["projectName"] }}</span>
    </p>
  </div>
  <div class="box">
    <img src="./assets/icons/check-list.svg" />
    <p>
      المهمة: <span> {{ requestData["projectTaskName"] }}</span>
    </p>
  </div>
  <div class="box">
    <img src="./assets/icons/malfunction-outline.svg" />
    <p>
      نوع الطلب: <span> {{ requestData["visitRequestTypeName"] }}</span>
    </p>
  </div>
  <div class="box">
    <img src="./assets/icons/locationIcon.svg" />
    <p>
      عنوان الطلب: <span> {{ requestData["requestAdress"] }}</span>
    </p>
  </div>
  <div class="box">
    <img src="./assets/icons/calender.svg" />
    <p>
      تاريخ الزيارة: <span> {{ requestData["visitDateTime"] | date }}</span>
    </p>
  </div>
  <div class="box">
    <img src="./assets/icons/time.svg" />
    <p>
      وقت الزيارة:
      <span> {{ requestData["visitDateTime"] | date : "a h:mm  - EEEE" }}</span>
    </p>
  </div>
  <div class="box">
    <img src="./assets/icons/userIcon.svg" />
    <p>
      الموظف المخصص له الطلب:
      <span> {{ requestData["userAssignFullName"] }}</span>
    </p>
  </div>
  <div class="box">
    <img src="./assets/icons/notes-icon.svg" />
    <p>
      ملاحظات تخصيص الطلب:
      <span> {{ requestData["description"] }}</span>
    </p>
  </div>
  <div
    class="box"
    *ngIf="visitRequestStatusId == 3 || visitRequestStatusId == 4"
  >
    <img src="./assets/icons/notes-icon.svg" />
    <p>
      ملاحظات الزيارة:
      <span> {{ requestData["descriptionUserAssignOrRefuse"] }}</span>
    </p>
  </div>
</div>
<!-- ================================== -->
<!-- FILES -->
<!-- ================================== -->
<div class="request-details-content">
  <div class="title">
    <img src="./assets/icons/fileUploadedIcon.svg" />
    <h3>مرفقات الطلب</h3>
  </div>
  <ng-container *ngFor="let files of requestData['updateFiles']">
    <div class="box" *ngIf="files.attachTypeId == null">
      <img
        style="width: 25px; height: 25px"
        src="./assets/icons/fileUploadedIcon.svg"
      />
      <a [href]="files.fullPath" target="_blank">
        <p>
          {{ files.originalName }}:
          <bdi>
            {{
              files.fileSize
                ? files.fileSize + "ميجا بايت"
                : "حجم الملف غير موجود"
            }}
          </bdi>
        </p>
      </a>
    </div>
  </ng-container>
</div>
<!-- ============================ -->
<!-- مرفقات الزياره -->
<!-- ============================ -->
<div
  class="request-details-content"
  *ngIf="visitRequestStatusId == 3 || visitRequestStatusId == 4"
>
  <div class="title">
    <img src="./assets/icons/fileUploadedIcon.svg" />
    <h3>مرفقات الزيارة</h3>
  </div>
  <ng-container *ngFor="let files of requestData['updateFiles']">
    <div class="box" *ngIf="files.attachTypeId == 1">
      <img
        style="width: 25px; height: 25px"
        src="./assets/icons/fileUploadedIcon.svg"
      />
      <a [href]="files.fullPath" target="_blank">
        <p>
          {{ files.originalName }}:
          <bdi>
            {{
              files.fileSize
                ? files.fileSize + "ميجا بايت"
                : "حجم الملف غير موجود"
            }}
          </bdi>
        </p>
      </a>
    </div>
  </ng-container>
</div>

<!-- ============================= -->
<!-- SWEET ALERTS-->
<!-- ============================= -->

<!-- SUCCESS -->
<app-sweet-alert-message
  *ngIf="alertSuccess"
  [data]="{
    type: 'success',
    text: alertSuccessMsg,
    buttonText: 'عرض الطلبات المخصصة'
  }"
  (confirmMessage)="alertSuccessFun($event)"
></app-sweet-alert-message>
<!-- ERROR -->
<app-sweet-alert-message
  *ngIf="alertError"
  [data]="{
    type: 'error',
    text: errorMsg,
    buttonText: ''
  }"
  (confirmMessage)="alertErrorFun($event)"
></app-sweet-alert-message>
<!-- WARNING -->
<app-sweet-alert-message
  *ngIf="alertWarning"
  [data]="{
    type: 'warning',
    text: 'هل أنت متأكد أنك تريد المغادرة؟ سيتم تجاهل أي بيانات قمت بإدخالها',
    buttonText: ''
  }"
  (confirmMessage)="alertWarningFun($event)"
></app-sweet-alert-message>

<!-- ===================================== -->
<!-- ===================================== -->
<!-- ===================================== -->
<div class="overlay" *ngIf="alertConfirm">
  <div class="sweet-alert">
    <!-- ================================ -->
    <!-- SWEET ALERT ICOM IMG -->
    <!-- ================================ -->
    <div class="sweet-img">
      <div>
        <img src="./assets/icons/alert-error.svg" />
      </div>
    </div>
    <div class="sweet-text popup-text">هل ترغب حقًا في رفض الطلب؟</div>
    <div class="sweet-buttons">
      <button class="confirm" (click)="alertConfirmFun(true)">رفض</button>
      <button
        (click)="alertConfirmFun(false)"
        class="tw-mr-3"
        ngClass="confirm-cancle"
      >
        إلغاء
      </button>

      <!-- ========================================================= -->
      <!-- ========================================================= -->
    </div>
  </div>
</div>
