<div class="auth-login">
  <div class="login-content">
    <div class="login-content-left">
      <img class="logo" src="./assets/images/login-logo.png" />

      <h3>هل نسيت كلمة المرور</h3>
      <p>أدخل بريدك الإلكتروني كي تتسلم كود لإعادة تعيين كلمة المرور</p>
      <div class="image">
        <img src="./assets/images/forget-Password.svg" alt="" />
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="input-field">
          <label for="email">
            البريد الإلكتروني
            <span>*</span>
          </label>
          <div class="input-icon">
            <div>
              <img src="./assets/icons/email.svg" />
            </div>
            <input id="email" type="email" placeholder="أدخل البريد الإلكتروني" formControlName="email" />
          </div>
          <!-- VALIDATIONS -->
          <div *ngIf="formControl.email.invalid && formControl.email.touched">
            <small *ngIf="formControl.email.errors['required']">برجاء ادخال البريد الالكتروني</small>
            <small *ngIf="formControl.email.errors['email']">ادخل البريد الالكتروني بشكل صحيح</small>
          </div>
        </div>

        <div>
          <button type="submit" class="login-btn" [disabled]="form.invalid">
            إرسال
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
