.no-data {
  width: 511px;
  margin: 0 auto;
  text-align: center;
  margin-top: 160px;
  .no-data-img {
    width: 129px;
    height: auto;
    margin: 0 auto 24px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .no-data-text {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #707070;
  }
  .no-data-button {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .no-data {
    width: 100%;
    margin-top: 40px;
    .no-data-img {
      width: 100%;
      height: auto;
    }
  }
}
