.cardContainersmall {
  @apply flex items-center justify-between 2xl:col-span-3 xl:col-span-3 lg:col-span-6  md:col-span-6 col-span-12;
  .titleConatiner {
    p {
      @apply font-medium text-base;
      color: #001219;
    }
    h3 {
      @apply font-semibold text-base my-3;
      color: #16968c;
    }
  }
  .icon-data {
    @apply flex flex-col justify-center items-center text-bgactive bg-filterBtnBg;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}

.cardContainerlarge {
  @apply 2xl:col-span-6 xl:col-span-6 lg:col-span-12 md:col-span-12 col-span-12;
  h3 {
    @apply text-base font-medium;
    color: #001219;
  }
}

.mapMarks {
  @apply grid grid-cols-12 gap-y-5 gap-x-11 2xl:col-span-4 xl:col-span-5 lg:col-span-6 md:col-span-8 col-span-8;
  .valuesContainer {
    @apply col-span-6 flex justify-between items-center;
    .titles {
      @apply text-base font-normal;
      color: #707070;
    }
    .values {
      @apply text-base font-normal;
      color: #001219;
    }
  }
}

:host ::ng-deep .map-container {
  border-radius: 8px;
}
// ========================================
// CARD
// ========================================
.card {
  background-color: var(--surface-card);
  padding: 1.5rem;
  border: solid 1px;
  border-color: #7070702e;
  margin-bottom: 1rem;
  border-radius: 8px;
  // box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05),
  //   0px 1px 4px rgba(0, 0, 0, 0.08) !important;

  &.card-w-title {
    padding-bottom: 2rem;
  }
}


.arrow-button {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 8px; /* for smooth rounded corners */
  background-color: #fff;
  color: #f5f5f5;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  color: #333;
  display: inline;
  padding: 5px 10px;
  margin: 5px;

}
.arrow-button i {
  font-size:8px
}

.arrow-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}