.bread-crumb {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cramb-right {
    .right-title {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      img {
        width: 24px;
        height: 24px;
        margin-left: 15px;
      }
      h3 {
        font-size: 24px;
        font-weight: 600;
        background: var(--gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    .right-sub-titles {
      span {
        color: #797f8f;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        &:last-of-type {
          background: var(--gradient);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
        }
      }
      i {
        margin: 0 14px;
        color: #797f8f;
        &:last-of-type {
          display: none;
        }
      }
    }
  }
  .cramb-left {
    display: flex;
    align-items: center;
    .input-search {
      background-color: #f6f6f6;
      display: flex;
      align-items: center;
      border-radius: 8px;
      padding: 0 15px 0 0;
      margin-left: 16px;
      img {
        margin-left: 15px;
      }
      input {
        background-color: transparent;
        border: none;
        outline: none;
        height: 48px;
        width: 375px;
      }
      .filter {
        background: var(--gradient);
        border-radius: 8px;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        img {
          margin-left: 0;
        }
      }

    }
       .btn-setting{
    border: 1px solid var(--color-primary);
    background-color: white;
    border-radius: 5px;
    padding-block: 15px;
}

  }

}

@media (max-width: 1240px) {
  .bread-crumb {
    align-items: start;
    flex-direction: column;
    .cramb-right {
      margin-bottom: 24px;
    }
  }
}

.dropdown-status {
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

::ng-deep .p-dropdown-label {
  color: var(--text-color);
}

// Fix for clear icon overlapping with dropdown text
::ng-deep .p-dropdown.p-dropdown-clearable .p-dropdown-label {
  padding-left: 40px !important;
}

// Position the clear icon properly and center it
::ng-deep .p-dropdown-clear-icon {
  position: absolute;
  // left: 50px !important;
  // top: 50px !important;
  transform: translate(-120%, -40%) !important;
  // transform: translateX(-120%) !important;

  margin-top: 0 !important;
}
