<!-- ============================= -->
<!-- BREAD CRUMB -->
<!-- ============================= -->
<app-bread-crumb
  [title]="'إدارة الصيانة '"
  [imageTitle]="'./assets/icons/subUnitsActive.svg'"
  [subTitles]="[
    { name: 'الرئيسية', routerLink: '/' },
    { name: 'إدارة الصيانة', routerLink: '/maintenace' },
    { name: 'مؤشر الأداء ', routerLink: '/maintenance/pointers' }
  ]"
  [isFilte]="true"
  [inputPlaceholder]="'ابحث بالاسم ...'"
  [buttonText]="'اضافة مؤشر جديد '"
  [saveBtnText]="'إضافة'"
  [isShowFilter]="showBreadcrumb ? false : true"
  [isShowAddEdite]="false"
  (addButton)="openAdd()"
  (valueSearch)="filterBySearchText($event)"
></app-bread-crumb>

<!-- ============================= -->
<!-- TABLE LIST-->
<!-- ============================= -->
<app-list
  [cols]="cols"
  [isSearching]="isSearchingReasult"
  [values]="values"
  [totalPageCount]="totalPageCount"
  [withControles]="true"
  (editEvent)="openEdit($event)"
  (deleteEvent)="confirmDelete($event)"
  (rowsCountChanged)="getAllPointers($event)"
  [noData]="showBreadcrumb ? false : true"
></app-list>






<!-- ============================= -->
<!-- POPUP ADD & EDIT-->
<!-- ============================= -->
<div class="overlay" *ngIf="showAddEditPopup">
  <div class="popup">
    <div class="title">
      <img src="./assets/icons/subUnitsActive.svg" />
      <p>
        {{ isEditMode ? "تعديل المؤشر" : "إضافة مؤشر" }}
      </p>
    </div>
    <form [formGroup]="kpiPointersForm" (ngSubmit)="OnSubmitData()">
      <div class="input-field">
        <label for="name">
اسم المؤشر
          <span>*</span>
        </label>
        <div class="field-icon">
          <img src="./assets/icons/name-icon.svg" />
          <input
            formControlName="name"
            id="name"
            type="text"
            placeholder="أدخل اسم المؤشر "
          />
        </div>
        <small *ngIf="formControls.name.invalid && formControls.name.touched">
          برجاء إدخال اسم المؤشر
        </small>
      </div>

   <div class="input-field">
        <label for="actualValue">
المحقق
          <span>*</span>
        </label>
        <div class="field-icon">
          <img src="./assets/icons/name-icon.svg" />
          <input
            formControlName="actualValue"
            id="name"
            type="text"
            placeholder="أدخل نسبة المحقق  "
          />
        </div>
        <small *ngIf="formControls.actualValue.invalid && formControls.actualValue.touched">
          برجاء إدخال نسبة المحقق
        </small>
      </div>

         <div class="input-field">
        <label for="targetValue">
المستهدف
          <span>*</span>
        </label>
        <div class="field-icon">
          <img src="./assets/icons/name-icon.svg" />
          <input
            formControlName="targetValue"
            id="targetValue"
            type="text"
            placeholder="أدخل نسبة المستهدف  "
          />
        </div>
        <small *ngIf="formControls.targetValue.invalid && formControls.targetValue.touched">
          برجاء إدخال نسبة المستهدف
        </small>
      </div>




      <div class="buttons-content">
        <button [disabled]="kpiPointersForm.invalid" class="buttons" type="submit">
          {{ isEditMode ? "تعديل" : "إضافة" }}
        </button>
        <button
          class="buttons-white"
          type="button"
          (click)="onCloseAddEditePopup()"
        >
          إلغاء
        </button>
      </div>
    </form>
  </div>
</div>
<!-- ======================================================== -->
<!-- NO DATA YET... -->
<!-- ======================================================== -->
<app-no-data-yet
  *ngIf="values.length == 0 && !isSearchingReasult"
  (addNewEvent)="openAdd()"
  [noDataElements]="{
noDataImg: './assets/images/no-data-search.png',
noDataText: 'يبدو أنك لم تقم بإضافة أي مؤشر أداء بعد، ستظهر مؤشرات الأداء المضافة  هنا... يمكنك البدء بإضافة أول مؤشر أداء',
noDataButtonText: 'إضافة مؤشر أداء ',
}"
></app-no-data-yet>

<!-- ============================= -->
<!-- SWEET ALERTS-->
<!-- ============================= -->
<!-- SUCCESS -->
<app-sweet-alert-message
  *ngIf="alertSuccess"
  [data]="{
    type: 'success',
    text: alertSuccessMsg,
    buttonText: 'عرض مؤشرات الأداء '
  }"
  (confirmMessage)="alertSuccessFun($event)"
></app-sweet-alert-message>
<!-- WARNING -->
<app-sweet-alert-message
  *ngIf="alertWarning"
  [data]="{
    type: 'warning',
    text: 'هل أنت متأكد أنك تريد المغادرة؟ سيتم تجاهل أي بيانات قمت بإدخالها',
    buttonText: ''
  }"
  (confirmMessage)="alertWarningFun($event)"
></app-sweet-alert-message>
<!-- CONFIRM -->
<app-sweet-alert-message
  *ngIf="alertConfirm"
  [data]="{
    type: 'confirm',
    text: 'هل أنت متأكد أنك تريد حذف مؤشر الأداء؟ سيتم حذفه نهائيًا من قائمة مؤشرات الأداء',
    buttonText: ''
  }"
  (confirmMessage)="alertConfirmFun($event)"
></app-sweet-alert-message>
<!-- ERROR -->
<app-sweet-alert-message
  *ngIf="alertError"
  [data]="{
    type: 'error',
    text: alertErrorMsg,
    buttonText: ''
  }"
  (confirmMessage)="alertErrorFun($event)"
></app-sweet-alert-message>
