// FILTER
.overlay {
  background: linear-gradient(
    150.57deg,
    rgba(12, 88, 139, 0.162) 15.91%,
    rgba(21, 90, 138, 0.186) 48.08%,
    rgba(38, 94, 135, 0.184) 88.94%
  );

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  .popup {
    background-color: #fff;
    box-shadow: 0px 2px 5.27px 0px #00000009;
    box-shadow: 0px 0px 37px 0px #0000000d;
    border-radius: 8px;
    .title {
      padding: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 0.5px solid #7070702e;
      img {
        margin-left: 15px;
      }
      p {
        font-size: 18px;
        font-weight: 600;
        color: #0c588b;
      }
    }
    form {
      .two-inputs-fields {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;
      }
      padding: 24px;

      .input-field {
        margin-bottom: 24px;
        label {
          display: block;
          margin-bottom: 12px;
          font-size: 18px;
          font-weight: 400;
          color: #0c588b;
          span {
            color: #fe4035;
          }
        }
        .field-icon {
          background-color: #f6f6f6;
          display: flex;
          align-items: center;
          padding: 12px 15px 12px 0;
          border-radius: 8px;
          height: 48px;
          img {
            margin-left: 16px;
          }
          input,
          select,
          p-dropdown {
            background-color: transparent;
            width: 100%;
            border: none;
            outline: none;
            &:focus {
              outline: none;
              border: none;
            }
          }
        }
        small {
          color: #fe4035;
        }
      }

      .buttons-content {
        display: flex;
        justify-content: center;
        align-items: center;

        button[disabled] {
          cursor: not-allowed;
        }
      }
    }
  }
}
// Textarea
.overlay-notes {
  background: linear-gradient(
    150.57deg,
    rgba(12, 88, 139, 0.162) 15.91%,
    rgba(21, 90, 138, 0.186) 48.08%,
    rgba(38, 94, 135, 0.184) 88.94%
  );

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  .popup {
    background-color: #fff;
    box-shadow: 0px 2px 5.27px 0px #00000009;
    box-shadow: 0px 0px 37px 0px #0000000d;
    border-radius: 8px;
    .title {
      padding: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 0.5px solid #7070702e;
      img {
        margin-left: 15px;
      }
      p {
        font-size: 18px;
        font-weight: 600;
        color: #0c588b;
      }
    }
    form {
      .two-inputs-fields {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 16px;
      }
      padding: 24px;

      .input-field {
        margin-bottom: 24px;
        label {
          display: block;
          margin-bottom: 12px;
          font-size: 18px;
          font-weight: 400;
          color: #0c588b;
          span {
            color: #fe4035;
          }
        }
        .field-icon {
          background-color: #f6f6f6;
          display: flex;
          align-items: start;
          padding: 12px 15px 12px 0;
          border-radius: 8px;
          height: auto;
          img {
            margin-left: 16px;
          }
          textarea {
            background-color: transparent;
            width: 100%;
            height: 144px;
            resize: none;
            outline: none;
            border: none;
          }
        }
        small {
          color: #fe4035;
        }
      }

      .buttons-content {
        display: flex;
        justify-content: center;
        align-items: center;

        button[disabled] {
          cursor: not-allowed;
        }
      }
    }
  }
}
